importFrom(methods, new)
importFrom(utils, glob2rx, read.table, write.table)
import(Biobase, oligo, Biostrings)
importMethodsFrom(Biostrings, width)
export(SCAN)
export(UPC)
export(SCAN_TwoColor)
export(UPC_TwoColor)
export(UPC_RNASeq)
