importFrom(methods, new)
importFrom(utils, glob2rx, read.table, write.table)
importFrom(GEOquery, getGEOSuppFiles)
importFrom(Biobase, ExpressionSet, exprs)
importFrom(oligo, read.celfiles, pmSequence, pm, getX, getY, probeNames, sequenceDesignMatrix)
importFrom(Biostrings, width, readDNAStringSet, subseq, letterFrequency)
importFrom(foreach, foreach)
importFrom(sva, ComBat)
importFrom(affy, cleancdfname)
importFrom(affyio, read.celfile.header)
import(MASS, tools)
export(SCAN)
export(SCANfast)
export(UPC)
export(UPCfast)
export(SCAN_TwoColor)
export(UPC_TwoColor)
export(UPC_RNASeq)
export(UPC_RNASeq_Single)
export(UPC_Generic)
export(UPC_Generic_ExpressionSet)
export(ParseMetaFromGtfFile)
export(InstallBrainArrayPackage)
export(BatchAdjust)
export(BatchAdjustFromFile)
