importFrom(methods, new)
importFrom(utils, glob2rx, read.table, write.table)
importFrom(GEOquery, getGEOSuppFiles)
import(Biobase, oligo, Biostrings, GEOquery)
import(MASS, tools)
importMethodsFrom(Biostrings, width)
export(SCAN)
export(UPC)
export(SCAN_TwoColor)
export(UPC_TwoColor)
export(UPC_RNASeq)
